<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de CostoSuministroHospitalizacion</title>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<section>
    <a href="/costosuministrohospitalizacion">Volver a lista</a>
</section>

<form action="#" name="entityForm" th:action="@{/costosuministrohospitalizacion/save}" th:object="${entity}" method="post">
<div class="form-group">
    <p>
        <label for="idServicioHospitalizacion">
            idServicioHospitalizacion:
            <input class="form-control" type="text" name="idServicioHospitalizacion" th:value="*{idServicioHospitalizacion}" placeholder="Ingrese el valor de idServicioHospitalizacion">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="nombre">
            nombre:
            <input class="form-control" type="text" name="nombre" th:value="*{nombre}" placeholder="Ingrese el valor de nombre">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="costo">
            costo:
            <input class="form-control" type="text" name="costo" th:value="*{costo}" placeholder="Ingrese el valor de costo">
        </label>
    </p>
</div>

<p>
    <input type="button" value="Submit" onclick="saveEntity(entityForm)"/>
    <input type="reset" value="Reset">
</p>

</form>
<script src="/public/axios.min.js" type="application/javascript"></script>
<script>
    function saveEntity(entityForm) {
        var entity = {
            id: entityForm.id.value,
            idServicioHospitalizacion: entityForm.idServicioHospitalizacion.value,
            nombre: entityForm.nombre.value,
            costo: entityForm.costo.value,
        }
        axios.post('/costosuministrohospitalizacion/save', entity)
            .then(function () {
                alert('Registro creado exitosamente')

            }).catch(function (error) {
                alert(error)
            }
        )
    }
</script>
</body>
</html>

