<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de HistoriaClinica</title>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<section>
    <a href="/" class="btn btn-sm btn-outline-primary">Inicio</a>
    <a href="/historiaclinica" class="btn btn-sm btn-outline-dark">Volver a lista</a>
</section>

<h1>Detalles Registro de Tabla: historiaClinica</h1>
<form action="#" name="entityForm" th:action="@{/historiaclinica/update}" th:object="${entity}" method="post">
<div class="form-group">
    <p>
        <label for="id">
            id:
            <input class="form-control" type="text" name="id" th:value="*{id}" placeholder="Ingrese el valor de id" readonly>
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="idPaciente">
            idPaciente:
            <input class="form-control" type="text" name="idPaciente" th:value="*{idPaciente}" placeholder="Ingrese el valor de idPaciente">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="fechaCreacion">
            fechaCreacion:
            <input class="form-control" type="text" name="fechaCreacion" th:value="*{fechaCreacion}" placeholder="Ingrese el valor de fechaCreacion">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="costoTratamiento">
            costoTratamiento:
            <input class="form-control" type="text" name="costoTratamiento" th:value="*{costoTratamiento}" placeholder="Ingrese el valor de costoTratamiento">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="idFamiliarContacto">
            idFamiliarContacto:
            <input class="form-control" type="text" name="idFamiliarContacto" th:value="*{idFamiliarContacto}" placeholder="Ingrese el valor de idFamiliarContacto">
        </label>
    </p>
</div>

<p>
    <input type="button" value="Actualizar" onclick="updateEntity(entityForm)" class="btn btn-sm btn-outline-success"/>
    <input type="reset" value="Reset">
</p>

</form>
<script src="/public/axios.min.js" type="application/javascript"></script>
<script>
    function updateEntity(entityForm) {
        var entity = {
            id: entityForm.id.value,
            idPaciente: entityForm.idPaciente.value,
            fechaCreacion: entityForm.fechaCreacion.value,
            costoTratamiento: entityForm.costoTratamiento.value,
            idFamiliarContacto: entityForm.idFamiliarContacto.value,
        }
        axios.put('/historiaclinica/update', entity)
            .then(function () {
                alert('Registro actualizado exitosamente')
                location.reload()
            }).catch(function (error) {
                alert(error)
            }
        )
    }
</script>
</body>
</html>

