<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de IngresoPaciente</title>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<section>
    <a href="/" class="btn btn-sm btn-outline-primary">Inicio</a>
    <a href="/ingresopaciente" class="btn btn-sm btn-outline-dark">Volver a lista</a>
</section>

<h1>Detalles Registro de Tabla: ingresoPaciente</h1>
<form action="#" name="entityForm" th:action="@{/ingresopaciente/update}" th:object="${entity}" method="post">
<div class="form-group">
    <p>
        <label for="id">
            id:
            <input class="form-control" type="text" name="id" th:value="*{id}" placeholder="Ingrese el valor de id" readonly>
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="idHistoriaClinica">
            idHistoriaClinica:
            <input class="form-control" type="text" name="idHistoriaClinica" th:value="*{idHistoriaClinica}" placeholder="Ingrese el valor de idHistoriaClinica">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="idDoctorTratante">
            idDoctorTratante:
            <input class="form-control" type="text" name="idDoctorTratante" th:value="*{idDoctorTratante}" placeholder="Ingrese el valor de idDoctorTratante">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="fechaIngreso">
            fechaIngreso:
            <input class="form-control" type="text" name="fechaIngreso" th:value="*{fechaIngreso}" placeholder="Ingrese el valor de fechaIngreso">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="fechaSalida">
            fechaSalida:
            <input class="form-control" type="text" name="fechaSalida" th:value="*{fechaSalida}" placeholder="Ingrese el valor de fechaSalida">
        </label>
    </p>
</div>

<p>
    <input type="button" value="Actualizar" onclick="updateEntity(entityForm)" class="btn btn-sm btn-outline-success"/>
    <input type="reset" value="Reset">
</p>

</form>
<script src="/public/axios.min.js" type="application/javascript"></script>
<script>
    function updateEntity(entityForm) {
        var entity = {
            id: entityForm.id.value,
            idHistoriaClinica: entityForm.idHistoriaClinica.value,
            idDoctorTratante: entityForm.idDoctorTratante.value,
            fechaIngreso: entityForm.fechaIngreso.value,
            fechaSalida: entityForm.fechaSalida.value,
        }
        axios.put('/ingresopaciente/update', entity)
            .then(function () {
                alert('Registro actualizado exitosamente')
                location.reload()
            }).catch(function (error) {
                alert(error)
            }
        )
    }
</script>
</body>
</html>

