<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de MaquinariaExamen</title>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<hr>
<section>
    <a href="/" class="btn btn-sm btn-outline-primary">Inicio</a>
    <a href="/maquinariaexamen" class="btn btn-sm btn-outline-dark">Volver a lista</a>
</section>

<h1>Deatlles Registro de Tabla: maquinariaExamen</h1>
<form action="#" name="entityForm" th:action="@{/maquinariaexamen/update}" th:object="${entity}" method="post">
<div class="form-group">
    <p>
        <label for="id">
            id:
            <input class="form-control" type="text" name="id" th:value="*{id}" placeholder="Ingrese el valor de id" readonly>
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="idExamenRealizado">
            idExamenRealizado:
            <input class="form-control" type="text" name="idExamenRealizado" th:value="*{idExamenRealizado}" placeholder="Ingrese el valor de idExamenRealizado">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="idDispositivoMedico">
            idDispositivoMedico:
            <input class="form-control" type="text" name="idDispositivoMedico" th:value="*{idDispositivoMedico}" placeholder="Ingrese el valor de idDispositivoMedico">
        </label>
    </p>
</div>

<p>
    <input type="button" value="Actualizar" onclick="updateEntity(entityForm)" class="btn btn-sm btn-outline-success"/>
    <input type="reset" value="Reset">
</p>

</form>
<script src="/public/axios.min.js" type="application/javascript"></script>
<script>
    function updateEntity(entityForm) {
        var entity = {
            id: entityForm.id.value,
            idExamenRealizado: entityForm.idExamenRealizado.value,
            idDispositivoMedico: entityForm.idDispositivoMedico.value,
        }
        axios.put('/maquinariaexamen/update', entity)
            .then(function () {
                alert('Registro actualizado exitosamente')
                location.reload()
            }).catch(function (error) {
                alert(error)
            }
        )
    }
</script>
</body>
</html>

