<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de MedicamentoSuministrado</title>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<h1>Registros de la Tabla: medicamentoSuministrado</h1>
<hr>
<section>
    <a href="/" class="btn btn-sm btn-outline-primary">Inicio</a>
    <a href="/medicamentosuministrado/create" class="btn btn-sm btn-outline-dark">Crear</a>
</section>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>IdExamenRealizado</th>
        <th>IdMedicamento</th>
        <th>Dosis</th>
        <th>FechaMedicacion</th>
        <th>Cantidad</th>
       <th>Detalles</th>
       <th>Borrar</th>
    </tr>
    </thead>
    <th:block th:each="entity : ${entities}">
        <tr>
            <td th:text="${entity.id}">...</td>
            <td th:text="${entity.idExamenRealizado}">...</td>
            <td th:text="${entity.idMedicamento}">...</td>
            <td th:text="${entity.dosis}">...</td>
            <td th:text="${entity.fechaMedicacion}">...</td>
            <td th:text="${entity.cantidad}">...</td>
            <td><a th:href="'/medicamentosuministrado/details/' + ${entity.id}">Ver</a></td>
            <td><a href="#" th:onclick="'javascript:deleteEntity(' + ${entity.id} + ')'" class="btn btn-sm btn-danger">Borrar</a></td>
        </tr>
    </th:block>
</table>
<script src="/public/axios.min.js" type="application/javascript"></script>
<script>
    function deleteEntity(id) {
        axios.delete('/medicamentosuministrado/delete/' + id)
            .then(function () {
                location.reload()
            }).catch(function (error) {
                alert(error)
            }
        )
    }
</script>
</body>
</html>

