<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Persona</title>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<section>
    <a href="/" class="btn btn-sm btn-outline-primary">Inicio</a>
    <a href="/persona" class="btn btn-sm btn-outline-dark">Volver a lista</a>
</section>

<h1>Crear Registro en Tabla: persona</h1>
<form action="#" name="entityForm" th:action="@{/persona/save}" th:object="${entity}" method="post">
<div class="form-group">
    <p>
        <label for="dni">
            dni:
            <input class="form-control" type="text" name="dni" th:value="*{dni}" placeholder="Ingrese el valor de dni">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="nombre">
            nombre:
            <input class="form-control" type="text" name="nombre" th:value="*{nombre}" placeholder="Ingrese el valor de nombre">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="apellido">
            apellido:
            <input class="form-control" type="text" name="apellido" th:value="*{apellido}" placeholder="Ingrese el valor de apellido">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="telefono">
            telefono:
            <input class="form-control" type="text" name="telefono" th:value="*{telefono}" placeholder="Ingrese el valor de telefono">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="email">
            email:
            <input class="form-control" type="text" name="email" th:value="*{email}" placeholder="Ingrese el valor de email">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="direccion">
            direccion:
            <input class="form-control" type="text" name="direccion" th:value="*{direccion}" placeholder="Ingrese el valor de direccion">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="idTipoPersona">
            idTipoPersona:
            <input class="form-control" type="text" name="idTipoPersona" th:value="*{idTipoPersona}" placeholder="Ingrese el valor de idTipoPersona">
        </label>
    </p>
</div>

<p>
    <input type="button" value="Guardar" onclick="saveEntity(entityForm)" class="btn btn-sm btn-outline-success"/>
    <input type="reset" value="Limpiar"  class="btn btn-sm btn-dark">
</p>

</form>
<script src="/public/axios.min.js" type="application/javascript"></script>
<script>
    function saveEntity(entityForm) {
        var entity = {
            id: entityForm.id.value,
            dni: entityForm.dni.value,
            nombre: entityForm.nombre.value,
            apellido: entityForm.apellido.value,
            telefono: entityForm.telefono.value,
            email: entityForm.email.value,
            direccion: entityForm.direccion.value,
            idTipoPersona: entityForm.idTipoPersona.value,
        }
        axios.post('/persona/save', entity)
            .then(function () {
                alert('Registro creado exitosamente')
                window.location.href = "/"
            }).catch(function (error) {
                alert(error)
            }
        )
    }
</script>
</body>
</html>

