<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de ServicioHospitalizacion</title>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<h1>Registros de la Tabla: servicioHospitalizacion</h1>
<hr>
<section>
    <a href="/" class="btn btn-sm btn-outline-primary">Inicio</a>
    <a href="/serviciohospitalizacion/create" class="btn btn-sm btn-outline-dark">Crear</a>
</section>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>IdHabitacion</th>
        <th>DiasHospitalizacion</th>
        <th>IdPaciente</th>
        <th>IdMedicoTratante</th>
        <th>ValorRestaurante</th>
        <th>ValorHabitacion</th>
       <th>Detalles</th>
       <th>Borrar</th>
    </tr>
    </thead>
    <th:block th:each="entity : ${entities}">
        <tr>
            <td th:text="${entity.id}">...</td>
            <td th:text="${entity.idHabitacion}">...</td>
            <td th:text="${entity.diasHospitalizacion}">...</td>
            <td th:text="${entity.idPaciente}">...</td>
            <td th:text="${entity.idMedicoTratante}">...</td>
            <td th:text="${entity.valorRestaurante}">...</td>
            <td th:text="${entity.valorHabitacion}">...</td>
            <td><a th:href="'/serviciohospitalizacion/details/' + ${entity.id}">Ver</a></td>
            <td><a href="#" th:onclick="'javascript:deleteEntity(' + ${entity.id} + ')'" class="btn btn-sm btn-danger">Borrar</a></td>
        </tr>
    </th:block>
</table>
<script src="/public/axios.min.js" type="application/javascript"></script>
<script>
    function deleteEntity(id) {
        axios.delete('/serviciohospitalizacion/delete/' + id)
            .then(function () {
                location.reload()
            }).catch(function (error) {
                alert(error)
            }
        )
    }
</script>
</body>
</html>

