<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de ServicioPrestado</title>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<section>
    <a href="/" class="btn btn-sm btn-outline-primary">Inicio</a>
    <a href="/servicioprestado" class="btn btn-sm btn-outline-dark">Volver a lista</a>
</section>

<h1>Crear Registro en Tabla: servicioPrestado</h1>
<form action="#" name="entityForm" th:action="@{/servicioprestado/save}" th:object="${entity}" method="post">
<div class="form-group">
    <p>
        <label for="idServicio">
            idServicio:
            <input class="form-control" type="text" name="idServicio" th:value="*{idServicio}" placeholder="Ingrese el valor de idServicio">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="idPaciente">
            idPaciente:
            <input class="form-control" type="text" name="idPaciente" th:value="*{idPaciente}" placeholder="Ingrese el valor de idPaciente">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="idDoctor">
            idDoctor:
            <input class="form-control" type="text" name="idDoctor" th:value="*{idDoctor}" placeholder="Ingrese el valor de idDoctor">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="idEntidadSalud">
            idEntidadSalud:
            <input class="form-control" type="text" name="idEntidadSalud" th:value="*{idEntidadSalud}" placeholder="Ingrese el valor de idEntidadSalud">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="idTipoSeguro">
            idTipoSeguro:
            <input class="form-control" type="text" name="idTipoSeguro" th:value="*{idTipoSeguro}" placeholder="Ingrese el valor de idTipoSeguro">
        </label>
    </p>
</div>

<p>
    <input type="button" value="Guardar" onclick="saveEntity(entityForm)" class="btn btn-sm btn-outline-success"/>
    <input type="reset" value="Limpiar"  class="btn btn-sm btn-dark">
</p>

</form>
<script src="/public/axios.min.js" type="application/javascript"></script>
<script>
    function saveEntity(entityForm) {
        var entity = {
            id: entityForm.id.value,
            idServicio: entityForm.idServicio.value,
            idPaciente: entityForm.idPaciente.value,
            idDoctor: entityForm.idDoctor.value,
            idEntidadSalud: entityForm.idEntidadSalud.value,
            idTipoSeguro: entityForm.idTipoSeguro.value,
        }
        axios.post('/servicioprestado/save', entity)
            .then(function () {
                alert('Registro creado exitosamente')
                window.location.href = "/"
            }).catch(function (error) {
                alert(error)
            }
        )
    }
</script>
</body>
</html>

