<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de ServicioPrestado</title>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<h1>Registros de la Tabla: servicioPrestado</h1>
<hr>
<section>
    <a href="/" class="btn btn-sm btn-outline-primary">Inicio</a>
    <a href="/servicioprestado/create" class="btn btn-sm btn-outline-dark">Crear</a>
</section>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>IdServicio</th>
        <th>IdPaciente</th>
        <th>IdDoctor</th>
        <th>IdEntidadSalud</th>
        <th>IdTipoSeguro</th>
       <th>Detalles</th>
       <th>Borrar</th>
    </tr>
    </thead>
    <th:block th:each="entity : ${entities}">
        <tr>
            <td th:text="${entity.id}">...</td>
            <td th:text="${entity.idServicio}">...</td>
            <td th:text="${entity.idPaciente}">...</td>
            <td th:text="${entity.idDoctor}">...</td>
            <td th:text="${entity.idEntidadSalud}">...</td>
            <td th:text="${entity.idTipoSeguro}">...</td>
            <td><a th:href="'/servicioprestado/details/' + ${entity.id}">Ver</a></td>
            <td><a href="#" th:onclick="'javascript:deleteEntity(' + ${entity.id} + ')'" class="btn btn-sm btn-danger">Borrar</a></td>
        </tr>
    </th:block>
</table>
<script src="/public/axios.min.js" type="application/javascript"></script>
<script>
    function deleteEntity(id) {
        axios.delete('/servicioprestado/delete/' + id)
            .then(function () {
                location.reload()
            }).catch(function (error) {
                alert(error)
            }
        )
    }
</script>
</body>
</html>

