<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de TipoPersona</title>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<section>
    <a href="/" class="btn btn-sm btn-outline-primary">Inicio</a>
    <a href="/tipopersona" class="btn btn-sm btn-outline-dark">Volver a lista</a>
</section>

<h1>Crear Registro en Tabla: tipoPersona</h1>
<form action="#" name="entityForm" th:action="@{/tipopersona/save}" th:object="${entity}" method="post">
<div class="form-group">
    <p>
        <label for="nombre">
            nombre:
            <input class="form-control" type="text" name="nombre" th:value="*{nombre}" placeholder="Ingrese el valor de nombre">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="descripcion">
            descripcion:
            <input class="form-control" type="text" name="descripcion" th:value="*{descripcion}" placeholder="Ingrese el valor de descripcion">
        </label>
    </p>
</div>

<p>
    <input type="button" value="Guardar" onclick="saveEntity(entityForm)" class="btn btn-sm btn-outline-success"/>
    <input type="reset" value="Limpiar"  class="btn btn-sm btn-dark">
</p>

</form>
<script src="/public/axios.min.js" type="application/javascript"></script>
<script>
    function saveEntity(entityForm) {
        var entity = {
            id: entityForm.id.value,
            nombre: entityForm.nombre.value,
            descripcion: entityForm.descripcion.value,
        }
        axios.post('/tipopersona/save', entity)
            .then(function () {
                alert('Registro creado exitosamente')
                window.location.href = "/"
            }).catch(function (error) {
                alert(error)
            }
        )
    }
</script>
</body>
</html>

