<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de VisitaMedico</title>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<section>
    <a href="/" class="btn btn-sm btn-outline-primary">Inicio</a>
    <a href="/visitamedico" class="btn btn-sm btn-outline-dark">Volver a lista</a>
</section>

<h1>Detalles Registro de Tabla: visitaMedico</h1>
<form action="#" name="entityForm" th:action="@{/visitamedico/update}" th:object="${entity}" method="post">
<div class="form-group">
    <p>
        <label for="id">
            id:
            <input class="form-control" type="text" name="id" th:value="*{id}" placeholder="Ingrese el valor de id" readonly>
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="idServicioHospitalizacion">
            idServicioHospitalizacion:
            <input class="form-control" type="text" name="idServicioHospitalizacion" th:value="*{idServicioHospitalizacion}" placeholder="Ingrese el valor de idServicioHospitalizacion">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="idDoctor">
            idDoctor:
            <input class="form-control" type="text" name="idDoctor" th:value="*{idDoctor}" placeholder="Ingrese el valor de idDoctor">
        </label>
    </p>
</div>
<div class="form-group">
    <p>
        <label for="comentarios">
            comentarios:
            <input class="form-control" type="text" name="comentarios" th:value="*{comentarios}" placeholder="Ingrese el valor de comentarios">
        </label>
    </p>
</div>

<p>
    <input type="button" value="Actualizar" onclick="updateEntity(entityForm)" class="btn btn-sm btn-outline-success"/>
    <input type="reset" value="Reset">
</p>

</form>
<script src="/public/axios.min.js" type="application/javascript"></script>
<script>
    function updateEntity(entityForm) {
        var entity = {
            id: entityForm.id.value,
            idServicioHospitalizacion: entityForm.idServicioHospitalizacion.value,
            idDoctor: entityForm.idDoctor.value,
            comentarios: entityForm.comentarios.value,
        }
        axios.put('/visitamedico/update', entity)
            .then(function () {
                alert('Registro actualizado exitosamente')
                location.reload()
            }).catch(function (error) {
                alert(error)
            }
        )
    }
</script>
</body>
</html>

